.ticket-area{
    padding-top: 56px;
    padding-bottom: 10px;
}
.info-tag-lg{
    background: $info;
    color: $light;
    padding: 8px 20px;
    top: -12px;
    border-radius: 4px 4px 0px 0px;
    z-index: 1;
}
.info-tag-sm{
    background: $primary;
    color: $light;
    padding: 5px 8px;
    top: 164px;
    border-radius: 4px 4px 0px 0px;
    z-index: 1;
}
.search-bar{
    display: flex;
    align-items: center;
    padding-left: 45px;
    p{
        padding-left: 30px;
    }
}
.select-form{
    width: 255px;
    padding: 8px 12px;
    color: $gray-800;
}