@import "bootstrap/bootstrap.scss";
@import "swiper";
.w-20{
    width: 20%;
}
.w-30{
    width: 30%;
}

.nav{
    display: flex;
    &-item{
        display: block;
        padding: 36px 0 36px 48px;
        font-size: 20px;
    }
}
.line-dark{
    background: $dark;
    height: 40px;
}

.banner{
    background-image: url('https://github.com/vvvvvvii/js-train/blob/main/%E6%9C%80%E7%B5%82%E4%BD%9C%E6%A5%AD/img/photo-1552848469-b4c949fdded7.png?raw=true');
    height: 420px;
    padding: 282px 0 48px 52px;
}

.section{
    padding: 60px 0;
    &-title{
        margin-bottom: 32px;
        font-size: 28px;
        text-align: center;
    }
}

.table{
    margin: 0 auto;
    &-sm{
        width: 730px;
    }
    &-lg{
        width: 920px;
    }
    &-title{
        font-size: 20px;
    }
    &-content{
       text-align: center; 
    }
    &-icon{
        color: $light-primary;
    }
    &-img{
        width: 80px;
        height: 80px;
    }
}
.cxl-btn{
    font-size: 24px;
    cursor: pointer;
}
.cxl-all-btn{
    display: block;
    font-size: 20px;
    padding: 10px 20px;
    border: 1px solid $dark;
    border-radius: 4px;
    text-align: center;
    color: $dark;
    &:hover{
        background-color: $primary;
        color: $light;
    }
}
.send-booking-btn{
    display: block;
    width: 255px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 4px;
    border: 0px solid #000;
    text-align: center;
    color: $light;
    background: $dark;
    font-size: 20px;
    &:hover{
        background-color: $primary;
        color: $light;
    }
}
.comment{
    &-product-img{
        width: 95px;
        height: 95px;
    }
    &-main{
        margin-left: 16px;
        padding: 12px 0;
        line-height: 1.3;
    }
    &-info{
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
    &-user-img{
        width: 40px;
        height: 40px;
    }
    &-product-name{
        color: $primary;
        font-size: 14px;
    }
}

.icon-round-border{
    border: 3px solid $dark;
    border-radius: 50%;
    padding: 33px;
    font-size: 42px;
}
.product-select{
    padding: 8px 12px;
    margin-bottom: 32px;
    border: 1px solid #CED4DA;
    border-radius: 4px;
}
.product{
    &-item{
        position: relative;
        font-size: 20px;
    }
    &-tag{
        position: absolute;
        top: 12px;
        right: 10px;
        padding: 8px 24px;
        color: $light;
        background: $dark;
    }
    &-btn{
        display: block;
        padding-top: 10px;
        padding-bottom: 10px;
        color: $light;
        background: $dark;
        text-align: center;
        margin-bottom: 8px;
        &:hover{
            background-color: $primary;
            color: $light;
        }
    }
    &-discount{
        text-decoration: line-through;
    }
}
